.bg-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbl-container {
    background-color: white;
    margin: 20px;
    /* border-radius: 10px; */
}

.row-container {
    background-color: lemonchiffon;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

.custom-header {
    background-color: gray;
    color: white;
}

.btn-container {
    display: flex;
    gap: 10px;
}